<div class="card mt-5 bg-light">


    <div class="card-header">
       Employee Details
    </div>
    <div class="card-body">
<form class="form-group mt-3" (ngSubmit)="Empsub(Employeeform)" #Employeeform="ngForm">
    
    <div class="form-group row mb-2">
      <label  class="form-label" for="id"><b>ID</b></label>

    <input type="text" class="form-control"
      name="id" *ngIf="Employee" [(ngModel)]=Employee.id #Empoloyeenamevar="ngModel" />
  </div>
   
    <div class="form-group row mb-2">
        <label class="form-label" for="name"><b>Name</b></label>

      <input type="text" class="form-control"
        name="name" *ngIf="Employee" [(ngModel)]=Employee.name #Empoloyeenamevar="ngModel" />
    </div>
  
    <!-- Email input -->
    <div class="form-group row mb-2">
        <label class="form-label"  for="address"> <b>Address</b></label>

        <input *ngIf="Employee" type="email" [(ngModel)]=Employee.address name="address" class="form-control"
        #Employeeaddrressvar="ngModel" />
    </div>
  
   
    <div class="form-group row mb-2">
      <label class="form-label"  for="deptname"> <b>Department name</b> </label>
  
    <select [(ngModel)]=Employee!.departmentId  name="departmentId" id="departmentId" class="form-control">
      <option *ngFor="let dept of Department" [value]="dept.id">{{dept.name}}</option>
      
    </select>
    
  </div>
  <br>
    <button type="submit"  class="btn btn-primary btn-block mb-4">Update Employee</button>
  </form>
</div>

</div>
<div>
  <br>Dirty: {{Employeeform.dirty}}
<br>touched: {{Employeeform.touched}}
<br>valid: {{Employeeform.valid}}

<br>value: {{Employeeform.value|json}}
</div>
