<div class="container">

    <div class="card mt-5" style="width:25rem; text-align: center; position: relative; left: 300px;">
    
        <div class="card-header">
            <h3 class="text-secondary"> Sign Up</h3> 
    
        </div>
        <div class="card-body">
            <form novalidate  (ngSubmit)="save(signUpForm)" #signUpForm="ngForm">
                <div class="form-group row mb-2">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
    
    
                
                    <div class="col-md-8">
                        <input class="form-control"  id="UserName" type="text"
                            placeholder="User Name is required" required 
                             minlength="3"
                              [(ngModel)]=user.UserName name="UserName"
                               #UsernameVar="ngModel"
                               [ngClass]="{'is-invalid':(UsernameVar.touched||UsernameVar.dirty)&&!UsernameVar.valid}"
                               />
                               <span class="invalid-feedback">
                                <span style="width: 50%;" *ngIf="UsernameVar.errors?.required">
                                    please enter your name
                                </span>
                                <span *ngIf="UsernameVar.errors?.minlength">
                                    min length should be 3 characters
                                </span>
                             </span>      
        
                    </div>
                </div>   
                <div class="form-group row mb-2">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>


            
                <div class="col-md-8">
                    <input class="form-control"  id="Email" type="text"
                        placeholder="Email is required" required 
                         minlength="3"
                          [(ngModel)]=user.Email name="Email"
                           #EmailVar="ngModel"
                           [ngClass]="{'is-invalid':(EmailVar.touched||EmailVar.dirty)&&!EmailVar.valid}"
                           />
                           <span class="invalid-feedback">
                            <span style="width: 50%;" *ngIf="EmailVar.errors?.required">
                                please enter your Email
                            </span>
                            <span *ngIf="UsernameVar.errors?.minlength">
                                min length should be 3 characters
                            </span>
                         </span>      
    
                </div>
            </div>   
                
                <div class="form-group row mb-2">
    
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
    
                    <div class="col-md-8">
                        <input class="form-control" id="Password" type="password"
                        placeholder="Password is required" required 
                         minlength="3"
                          [(ngModel)]=user.Password name="password"
                           #passwordVar="ngModel"
                           [ngClass]="{'is-invalid':(passwordVar.touched||passwordVar.dirty)&&!passwordVar.valid}"
                           />
                            <span class="invalid-feedback">
                                <span *ngIf="passwordVar.errors?.required">
                                    please enter password
                                </span>
                                <span *ngIf="passwordVar.errors?.minlength">
                                    min length should be 3 characters
                                </span>
                                
                            </span>
        
        
                    </div>
                    
                </div>
        

                <div class="form-group row mb-2">
    
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
    
                    <div class="col-md-8">
                        <input class="form-control" id="ConfirmPassword" type="password"
                        placeholder="Confirm Password" required 
                         minlength="3"
                          [(ngModel)]=user.ConfirmPassword name="ConfirmPassword"
                           #passwordVar="ngModel"
                           [ngClass]="{'is-invalid':(passwordVar.touched||passwordVar.dirty)&&!passwordVar.valid}"
                           />
                            <span class="invalid-feedback">
                                <span *ngIf="passwordVar.errors?.required">
                                    please enter password
                                </span>
                                <span *ngIf="passwordVar.errors?.minlength">
                                    min length should be 3 characters
                                </span>
                                
                            </span>
        
        
                    </div>
                    
                </div>
        
        
        
                
            
                
               <div class="form-group row mb-2">
                   <div class="offset-md-2 col-md-4">
                       <button class="btn float-right   btn-danger"
                       type="submit" style="width:80px"
                       [title]="signUpForm.valid?'save your entered data':'disabled until form data is valid'"
                       [disabled]="!signUpForm.valid">Sign up
                       </button>
                    
    
                   </div>
        
               </div>
               
             
                
            </form>
           
            </div>
    
    <div class="innercontainer">
    
    </div>		
    </div>

